<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Personal Blog</a></h1>
    </header>
    {% if user.is_authenticated %}
        <p> Welcome, {{user.username }}!</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Exit Site</button>
        </form>
    {% else %}
        <p><a href="{% url 'login' %}">Enter Site</a></p>
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <button type="submit">Sign Up</button>
        </form>
    {% endif %}
    <div>
        {% block content %}
        {% endblock content %}
    </div>
    <footer>
        <h2><a href="{% url 'post_new' %}">Writing new Post</a></h2>
    </footer>
</body>
</html>